<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:powderblue;">

    <div class="header" style="color:teal">
        Sarah's Header
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="footer" style="color:teal">
        <br />

        API Consumption Assignment
    </div>
</body>
</html>